.mario {
    height: 64px;
    width: 67px;
    background: url("../images/runinsprite.png") 0 0;
    -webkit-animation:
        animate-mario 3s 0s steps(27) infinite,
        move-mario ease-in 3s 0s infinite;
    -moz-animation:
        animate-mario 3s 0s steps(27) infinite,
        move-mario ease-in 3s 0s infinite;
    -o-animation:
        animate-mario 3s 0s steps(27) infinite,
        move-mario ease-in 3s 0s infinite;
    animation:
        animate-mario 3s 0s steps(27) infinite,
        move-mario ease-in 3s 0s infinite;
    position: absolute;
    left: 100px;
}
 
@-webkit-keyframes animate-mario {
    from { background-position: 0 0 }
    to   { background-position: -1080px 0 }
}
 
@-webkit-keyframes move-mario {
    0%   { left: 100px }
    20%  { left: 100px }
    50%  { left: 300px }
    100% { left: 300px }
}
 
@-moz-keyframes animate-mario {
    from { background-position: 0 0 }
    to   { background-position: -1080px 0 }
}
 
@-moz-keyframes move-mario {
    0%   { left: 100px }
    20%  { left: 100px }
    50%  { left: 300px }
    100% { left: 300px }
}
 

 
@-o-keyframes animate-mario {
    from { background-position: 0 0 }
    to   { background-position: -1080px 0 }
}
 
@-o-keyframes move-mario {
    0%   { left: 100px }
    20%  { left: 100px }
    50%  { left: 300px }
    100% { left: 300px }
}
 
@keyframes animate-mario {
    from { background-position: 0 0 }
    to   { background-position: -1080px 0 }
}
 
@keyframes move-mario {
    0%   { left: 100px }
    20%  { left: 100px }
    50%  { left: 300px }
    100% { left: 300px }
}