/*Fonts for project*/
@font-face{
    font-family: "sneschar";
    src: url("head.ttf") format("truetype");
}

@font-face{
    font-family: "italsnes";
    src: url("body.ttf") format("truetype");
}

/*---------------Html, Body, Footer for overall project ----------*/

body{
    background:black;
    margin:0 auto;
    bottom:0px;
    padding-bottom: 0px;
}

.content{
    min-height: calc(100vh - 70px);
}


.footer{
    padding-top: 0px;
    height: 50px;
    background-image:URL("../images/backgrounds/footer.png");
}

.social-links{
    padding-top: 10px;
    padding-bottom: 10px;
    
    
    
}
.social-links li a i{
    width:32px;
    height:32px;
    padding:12px 0;
    border-radius:50%;
    font-size:13px;
    line-height: 7px;
    text-align: center;
    color:#fafafa;
    background:#8f8f8f;
    transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background:#e84610;
}


/*---------------NavBar styling-------------- */
.navbar{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.navbar a{
    font-family: "italsnes";

}

.navbar-brand{
    font-size: 60px;
}

.navbar-inverse .navbar-brand{
    color: red;
}
.navbar-inverse .navbar-brand:hover{
    color: red;
}

@media  (min-width: 1200px){
.navbar-nav>li{
    padding-left: 50px;
    padding-right: 50px;
    
}

}

/* ---WarpZone Content Syling and Media Screens -- */
.warpwelcome{
    font-family: "sneschar";
    height:450px;
    text-align: center;
    color:White;
    background:black;
    
}

.warpwelcome h1{
    font-size: 2em;
}

.fitThePage{
    min-width:80vw;
    max-width:80vw;
    min-height:80vh;
}

.demo{
    font-family: "sneschar";
    font-size: 0.75em;
    text-align: justify;
    color:white;
    background:black;

}

.pipes{
    font-family: "sneschar";
    font-size: 10px;
    text-align: center;
    position: relative;
    bottom:0;
    
    
}



.pipes>div{
    position: relative;
    bottom: 0;
    vertical-align: bottom;
}


@media only screen and (min-width: 768px){
    .demo{
        font-size: 1em;
    }
    
}

@media (min-width:1040px){
    #mobile{
        display: none;
    }
}

@media only screen and (max-width: 1040px) {
    #downpipe {
        display: none;
    }
}

@media only screen and (max-width:1040px){
    #desktop{
        display:none;
    }
    
    #mobile{
        display: inherit;
    }
}

@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
        position: absolute;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: bottom;
    }
}

/*--End of WarpZone--*/

/*-- Mario and Friends Styling --*/

.nav-tabs {
    font-family: "sneschar";
    font:2em;
    color:white;
    background:darkred;
}

.active a {

  background-color: red !important;

}


.nav-tabs >li >a:hover{
     background:brown;
}



.charintro{
    font-family: "sneschar";
    color:white;
    text-align: center;
}

.charintro{
    font-size: 2em;
}
#mario h3{
    font-family: "italsnes";
    font-size:2em;
    text-align: center;
    color:red;
    
}
#mario p{
    font-family: "sneschar";
    font-size:1em;
    color: black;
}

#aboutmario h3{
    
}

#aboutmario p{
    font-family: "sneschar";
    font-size:0.6em;
    color: white;
    margin-left: 15px;
    margin-right:0px;
    padding-left: 15px;
    padding-right: 0px;
    
    
}

#aboutmario img{
    border-style: solid;
    border-color: #FFC765;
    border-width: 10px;
    
}




#friends h3{
    font-family: "italsnes";
    font-size:2em;
    text-align: center;
    color:red;
}
#friends p{
    font-family: "sneschar";
    font-size:0.6em;
    color: white;
    margin-left: 15px;
    margin-right:0px;
    padding-left: 15px;
    padding-right: 0px;
}

#friends img{
    border-style: solid;
    border-color: #FFC765;
    border-width: 10px;
   
}


/*--Timeline Styling--taken and ammended from instructions from www./webdesign.tutsplus.com*/
.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Timeline Arrows */
.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}
/*-- End of Mario and Friends Styling -- */




/*--Bowser and Co Styling--*/
#baddie h3{
    font-family: "italsnes";
    font-size:40px;
    text-align: center;
    color:red;
    
}
#baddie h4{
    font-family: "italsnes";
    font-size:30px;
    color: white;
    margin-left: 15px;
    margin-right:0px;
    padding-left: 15px;
    padding-right: 0px;
}
#baddie p{
    font-family: "italsnes";
    font-size:25px;
    color: white;
    margin-left: 15px;
    margin-right:0px;
    padding-left: 15px;
    padding-right: 0px;
}

#baddie img{
    border-style: solid;
    border-color: #FFC765;
    border-width: 10px;
    font-family: 'italsnes'
   
}

.portrait{
    height:200px;
    width:200px;
}


.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    min-height: 250px;
}
/*--End of Bowser and Co Styling--*/

/*--Locations Styling -- */



.panel-heading{
    font-family:"italsnes";
    color:black;
    background-color:red;
}

.panel-body{
    background-color: black;
    font-family: "sneschar";
    color:white;
}

.panel-body img{
    max-width: 80%;
}




/*--End Of Locations Styling


/*----Contact Styling --*/
/*Contact Form styling*/
.contact-heads h1,h2{
    font-family: "italsnes";
    text-align: center;
    color:red;
}

.contact-heads h1{
    font-size:50px;
    margin-bottom:2px;
    padding-bottom:0;
    bottom:0;
}
.contact-heads h2{
    font-size:40px;
    margin-top:2px;
    padding-top:0;
    top:0;
}
.contact-heads p{
    font-size:12px;
    font-family:"sneschar";
    color:white;
}
.contact-heads p a{
    text-decoration:none;
    color:red;
}
.form-group{
    height:50px;
}

.form-group .checkbox-inline{
    margin-left:15px;
}

.form-group .tryalign{
    margin-left:30px;
}

.form-control-text{
    width:79%;
    margin-left:15px;
}


.form-group .control-label,
label.checkbox-inline{
    color:white;
}

/*--end of contact styling --*/